<header>
    <div class="col-lg-offset-2 col-lg-8 head-cmp-center">
       <div ng-click="$ctrl.$location.path('/')"
            class="{{$ctrl.isTabActive('/')}}" 
            style="top: {{$ctrl.top}}; transition: 0.4s">HOME</div>
            
       <div ng-click="$ctrl.$location.path('/play')" 
            class="{{$ctrl.isTabActive('/play')}}" 
            style="top: {{$ctrl.top}}; transition: 0.6s">PLAY</div>
            
       <div ng-click="$ctrl.$location.path('/statistics')" 
            class="{{$ctrl.isTabActive('/statistics')}}" 
            style="top: {{$ctrl.top}}; transition: 0.8s">STATISTICS</div>
            
       <div ng-click="$ctrl.$location.path('/about')"
            class="{{$ctrl.isTabActive('/about')}}"  
            style="top: {{$ctrl.top}}; transition: 1s">ABOUT</div>
            
       <div ng-click="$ctrl.data.userProfile.objectId ? $ctrl.toLogOut($event) : $ctrl.toLogIn($event)"
            ng-style="$ctrl.data.userProfile.objectId && {color: '#32CD32'}"
            style="top: {{$ctrl.top}}; transition: 1.2s">
            {{$ctrl.data.userProfile.objectId ? 'LOGOUT' : 'LOGIN'}}
       </div>
    </div>
</header>