<div class="wrapper-wrap">  
    <div class="col-lg-offset-2 col-lg-8 play">
        <ul class="matches-container">
            <li ng-repeat="match in $ctrl.matches"
                style="cursor: {{ match.BET ? 'not-allowed' : 'pointer' }}"
                title="{{ match.BET ? 'Bet is already done' : 'Do bet' }}"
                ng-click="!match.BET ? $ctrl.openDialog($event, match) : null">
                <div>
                    <img style="background-image: url({{ match[0].teamImage }})" alt="">
                    <span class="team-name">{{ match[0].name }}</span>
                </div>
                <div>
                    <div class="count {{ match.isBetWon === false ? 'red-personal' : match.isBetWon === true ? 'green-personal' : '' }}">
                        <i class="team-1">{{ match.RESULTS[0] }}</i>
                        <i>:</i>
                        <i class="team-2">{{ match.RESULTS[1] }}</i>
                    </div>
                    <div>{{ match.status }}</div>
                    <div class="koef">
                        <span ng-show="match.BET">
                            Bet: {{ match.BET.sum }}$; 
                            {{ match.BET.team }} ({{ match.BET.coef | number:2 }}); 
                            <div style="text-align: center"
                                 ng-class="{'red-personal': !match.isBetWon, 'green-personal': match.isBetWon}">
                                Result:
                                {{ match.isBetWon ? '+' : '-' }}
                                {{ match.isBetWon ? ((match.BET.gain - match.BET.sum) | number:2) : match.BET.sum }}$
                            </div>
                        </span>
                        <span ng-show="!match.BET">
                            H: {{ match.COEF[1] | number:2 }}, 
                            D: {{ match.COEF[2] | number:2 }}, 
                            A: {{ match.COEF[3] | number:2 }}
                        </span>
                    </div>
                </div>
                <div>
                    <span class="team-name">{{ match[1].name }}</span>
                    <img style="background-image: url({{ match[1].teamImage }})" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>